body {

}

p {
  margin: 0;
}


img {
  height: 60%;
}

.head {
  height: 35vh;
  color: gold;
  font-weight: bold;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-row {
  /*border: 5px dashed red;*/
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.mycol {
  /*border: 5px solid skyblue;*/
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: calc(100vw/8);
  padding: 0;
}

.key {
  border: 1px solid black;
  min-height: 100%;
  min-width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: inset -2px 10px 15px 0px #6c757d;
}

footer {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

footer p {
  margin-right: 10px;
}
